<body>
  <!-- update the header -->
  <h1>Edit <%= dog.name %></h1>
  <form action="//dogs/<%=dog._id%>?_method=PUT" method="POST">
    <!-- Dog Name -->
    <form action="/dogs" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%= dog.name %>" required />

      <!-- Dog Breed -->
      <label for="breed">Breed:</label>
      <input type="text" name="breed" id="breed" value="<%= dog.breed %>"required />

      <!-- Dog Age -->
      <label for="age">Age:</label>
      <input type="text" name="age" id="age" value="<%= dog.age %>"required/><br /><br />

      <!-- Dog Gender -->
      <label for="gender">Gender:</label>
      <select name="gender" id="gender" required>
        <option value="">-- Select Gender --</option>
        <option value="Male" <%=dog.gender === 'Male' ? 'selected' : '' %>>Male</option>
        <option value="Female" <%=dog.gender === 'Female' ? 'selected' : '' %>>Female</option></select
      ><br /><br />

      <!-- is Dog Potty Trained -->
      <label for="isPottyTrained">Is this dog potty trained?</label>
      <input type="checkbox" name="isPottyTrained" id="isPottyTrained" <% if (dog.isPottyTrained) { %>checked<% } %>>
      <br /><br />

      <!-- Submit button -->
      <button type="submit">Update Dog</button>
  </form>
  <a href="/dogs">Back to Doggie List</a>
</body>
