<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dogs Show Page</title>
  </head>
  <body>
    <h1>Here are Possible Pets!</h1>
    <h2><%= dog.name %></h2>
    <p>Name: <%= dog.name %></p>
    <p>Breed: <%= dog.breed %></p>
    <p>Age: <%= dog.age %></p>
    <p>Gender: <%=dog.gender%></p>
    <p>Potty Trained? <%= dog.isPottyTrained ? "Yes" : "No" %></p>

    <a href="/dogs/">Back to Dogs</a>

  </body>
</html>
